.section {
	padding: 385px 0;

	&--small-padding {
		padding: 120px 0;
	}
}

.title {
	@include adaptive-font(64, 32);
	margin: 0;
	margin-bottom: 90px;
	font-family: balsamiq, sans-serif;
	font-weight: 700;

	&--right {
		text-align: end;
	}

	@media (min-width: 1200px) {
		font-size: 64px;
	}

	@media (max-width: 992px) {
		margin-bottom: 60px;
	}

	@media (max-width: 768px) {
		margin-bottom: 45px;
	}

	@media (max-width: 650px) {
		margin-bottom: 30px;
	}

	@media (max-width: 576px) {
		margin-bottom: 15px;
	}
}

.text {
	margin: 0;

	&--right {
		margin-left: auto;
		text-align: end;
	}
}
