// * Максимальная ширина макета
$container-width: 1230;

:root {
	// * Colors
	--dark-color: #000;
	--light-color: #fff;
	--bg-color: #3f6485;
	--accent-color: #9fd4ff;
	--asparagus-color: #72a25d;
}
