.contacts {
	&__title {
		text-align: center;
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;

		@media (max-width: 350px) {
			flex-direction: column;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		gap: 15px;

		@media (max-width: 576px) {
			gap: 10px;
		}
	}

	&__img {
		width: 55px;
		height: auto;

		@media (max-width: 576px) {
			width: 40px;
		}
	}
}
