.distance {
	&__title {
		@include adaptive-font(48, 24);
		text-align: center;

		@media (min-width: 1200px) {
			font-size: 48px;
		}
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 170px;

		@media (max-width: 992px) {
			margin-bottom: 85px;
		}

		@media (max-width: 768px) {
			margin-bottom: 40px;
		}

		@media (max-width: 576px) {
			margin-bottom: 20px;
		}
	}

	&__list {
		list-style-type: disc;
	}

	&__list-item {
		@include adaptive-font(36, 18);

		&::marker {
			font-size: 28px;
		}

		@media (min-width: 1200px) {
			font-size: 36px;
		}
	}

	&__img {
		width: 315px;
		height: auto;

		@media (max-width: 992px) {
			width: 280px;
		}

		@media (max-width: 768px) {
			width: 245px;
		}

		@media (max-width: 576px) {
			width: 210px;
		}
	}

	&__text {
		@include adaptive-font(36, 18);
		margin: 0 auto;
		max-width: 860px;
		text-align: center;
		color: var(--yellow-orange);

		@media (min-width: 1200px) {
			font-size: 36px;
		}
	}
}
