.info {
	&__title {
		text-align: center;
	}

	&__text {
		@include adaptive-font(36, 18);
		margin-bottom: 25px;
		text-align: center;

		@media (min-width: 1200px) {
			font-size: 36px;
		}

		@media (max-width: 576px) {
			margin-bottom: 10px;
		}
	}

	&__link {
		@include adaptive-font(36, 14);
		position: relative;
		display: block;
		margin: auto;
		width: fit-content;
		color: var(--yellow-orange);

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -7px;
			display: block;
			border-radius: 10px;
			width: 0;
			height: 4px;
			background: var(--yellow-orange);
			transition: 0.6s;
		}

		&:hover::after {
			width: 100%;
		}

		@media (min-width: 1200px) {
			font-size: 36px;
		}
	}
}
