.sun {
	background-image: url('@img/sun/sun-bg.png');
	background-position: left;
	background-size: auto 100%;
	background-repeat: no-repeat;

	@media (min-width: 1200px) {
		background-size: 305px auto;
	}

	@media (max-width: 1200px) {
		background-size: 305px auto;
	}

	@media (max-width: 992px) {
		background-size: 250px auto;
	}

	@media (max-width: 768px) {
		background-size: 200px auto;
	}

	@media (max-width: 576px) {
		background-size: 170px auto;
	}

	@media (max-width: 450px) {
		background-size: 150px auto;
	}
}
